body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.primaryContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 0px;
    
}

.box {
    padding: 0px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}